#@data/values
#@overlay/match-child-defaults missing_ok=True
---
infrastructure_provider: "azure"
contour:
  image:
    repository: projects.registry.vmware.com/tkg
envoy:
  image:
    repository: projects.registry.vmware.com/tkg