#@data/values
#@overlay/match-child-defaults missing_ok=True
---
externalDns:
  image:
    repository: projects.registry.vmware.com/tkg
  deployment:
    #@overlay/replace
    args:
    - --provider=azure
    - --source=service
    - --source=ingress
    - --source=contour-httpproxy #! configure external-dns to read Contour HTTPProxy resources
    - --domain-filter=my-zone.example.org #! zone where services are deployed
    - --azure-resource-group=my-resource-group #! Azure resource group
    #@overlay/replace
    volumeMounts:
    - name: azure-config-file
      mountPath: /etc/kubernetes
      readOnly: true
    #@overlay/replace
    volumes:
    - name: azure-config-file
      secret:
        secretName: azure-config-file
